<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rossy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Forms.DrinkAdd"></activity>
        <activity android:name=".Forms.DrinkEdit" />
        <activity android:name=".Forms.FoodsEdit" />
        <activity android:name=".Forms.FoodsAdd" />
        <activity android:name=".Activities.MenuDrink" />
        <activity android:name=".Activities.MenuFood" />
        <activity
            android:name=".Forms.TablesEdit"
            android:label="Editar Mesa"
            android:launchMode="singleTop" />
        <activity android:name=".Forms.TablesAdd" />
        <activity android:name=".Forms.Register" />
        <activity android:name=".Activities.PreRegister" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>